@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  body {
    @apply bg-black text-white relative font-sans h-screen overflow-x-hidden;

  }

  html {
    /* scroll-snap-type: y mandatory; */
    scroll-behavior: smooth;
  }



  /* Adicione esta nova regra: */
  html.scrolling {
    /* Esta classe vai desativar o snap temporariamente */
    scroll-snap-type: none;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  section {
    height: 100svh;
    /* scroll-snap-align: center; */
  }

}