@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

@layer base{

  body{
    @apply bg-black text-white relative font-sans h-screen overflow-x-hidden;
    
  }

  html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  section{
    height: 100vh;
    scroll-snap-align: center;
  }

}